.hello h1{
	text-align:center;
}
.hello a{
	margin-left: 670px;
}
.visit p{
	font-size: larger;
	text-align:center;
}
.visit a{
	margin-left: 670px;
	display:inline-block;
}
.revisit a{
	margin-left: 670px;
}
.revisit p{
	font-size: larger;
	text-align:center;
}
a{
	margin-right:20px;
}
